.imgBanner {
  height: 20rem;
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  filter: var(--filter);
}

.title {
  position: relative;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--gris-claro);
  text-align: center;
}

.descripcion {
  color: var(--verde-claro);
  flex-wrap: wrap;
  font-size: 1.2rem;
  padding: 0 20%;
  font-weight: 200;
  text-align: center;
}