.all {
  display: flex;
}
.bannerHome{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 85vh;
}
.imgHome {
  position: absolute;
  z-index: -1;
  height: 90vh;
  width: 100%;
  object-fit: cover;
  filter: var(--filter);
}
.title {
  position: relative;
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: var(--blanco);
  font-size: 2rem;
  padding: 0 30%;
  text-align: center;
  
}
.p{
  color: var(--verde-claro);
  flex-wrap: wrap;
  font-size: 1.2rem;
  padding: 0 20%;
  font-weight: 200;
  text-align: center; 
  
}
.banner{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.btn {
  background-color: var(--background-color);
  color: var(--blanco);
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4rem;
  border: 1px solid var(--blanco);
  width: 35vh;
  height: 8vh;
  font-size: 1.5rem;
  font-weight: 200;
  cursor: pointer;
}
.btn span svg{
  color: var(--verde-claro);
  vertical-align: bottom;
}

.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  margin: 0rem 0;
  background-color: var(--verde-oscuro-opaco);
  backdrop-filter: blur(2px);
  padding: 1rem 0;
  position: relative;
}
.bar h1{
  color: var(--blanco);
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 1rem;
}
.movingText {
  position: absolute;
  white-space: nowrap;
  animation: slide 10s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(40%);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-40%);
    opacity: 0;
  }
}

.destinos {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.popularpost{
  margin: 3rem;
  display: grid;
  grid-template-columns: 1fr repeat(2, .4fr);
  grid-template-rows: .3fr repeat(3, .4fr) .3fr;
  grid-column-gap: 1rem;
  text-align: center;
}
.titlepost{
  grid-area: 2 / 1 / 3 / 2;
  color: var(--blanco);
  font-size: 1.5rem;
}
.contentpost {
  grid-area: 3 / 1 / 5 / 2;
  text-align: justify;
  color: var(--texto-secundario);
}
.imgpost { 
  grid-area: 2 / 2 / 6 / 3; 
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imgpost2 { 
  grid-area: 1 / 3 / 5 / 4; 
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.popularpost2{
  margin: 4rem;
  display: grid;
  grid-template-columns: 1fr repeat(2, .4fr);
  grid-template-rows: .3fr repeat(3, .4fr) .3fr;
  grid-column-gap: 1rem;
  text-align: center;
  direction: rtl;
}
.recientepost{
  display: flex;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
  position: relative;
  
}
.titlerecentpost{
  color: var(--blanco);
}
.postCard {
  width: 80%;
  height: 400px;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  display: flex;
  text-align: center;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  
}

.postCard h3 {
  margin-top: 0;
  color: var(--blanco);
  justify-self: end;
  align-self: flex-end;
  margin-bottom: 1rem;
  backdrop-filter: blur(10px);
  font-weight: 400;
  padding: 1rem;
}

.postCard p {
  font-size: 14px;
  color: var(--texto-secundario);
}
.postCard img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(100%);
}
.postCard:hover {
  filter: brightness(130%);
}
.postCard h3:hover{
  color: var(--verde-claro);
  
}
@media (max-width: 800px) {
  .postCard {
    width: 50%;
    height: 80%;
  }
  .popularpost2, .popularpost{
  display: flex;
  flex-direction: column;
  }
  .titlepost{
    margin-bottom: 1rem;
  }
  .contentpost {
    display: none;

  }
  .imgpost { 
    margin-bottom: 1rem;

  }
  .imgpost2 { 
    margin-bottom: 1rem;
  }
  .recientepost{
  flex-wrap: wrap;
    
  }
}
