.postList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  background-color: var(--verde-claro);
  width: 50vh;
  height: 6vh;
  display: flex;
  border-radius: 1rem;
  padding: 5px;
}
.searchBar input{
  background-color: var(--verde-claro);
  margin: 8px;
  width: 50vh;
  border-bottom: 1px solid var(--dark-grey);
  outline: none;
}
.searchBar span{
  color: var(--background-color);
  padding: 5px;
}
.postall {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.postCard {
  width: 250px;
  height: 400px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  /*border: 1px solid var(--gris-claro);*/
  cursor: pointer;
  position: relative;
  display: flex;
  text-align: center;
}

.postCard h3 {
  margin-top: 0;
  color: var(--blanco);
  justify-self: end;
  align-self: flex-end;
  margin-bottom: 1rem;
  backdrop-filter: blur(10px);
  font-weight: 400;
  padding: 1rem;
}

.postCard p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5;
}
.postCard img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(100%);
}

.postCard:hover {
  filter: brightness(130%);
}
.postCard h3:hover{
  color: var(--verde-claro);
  
}

.publicar{
  position: fixed;
  right: 0;
  top: 20%;
  background-color: var(--verde-claro);
  width: 13vh;
  height: 13vh;
  border-radius: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  color: var(--blanco);
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid var(--background-color);
}
.publicar span{
  color: var(--blanco);
}
@media (max-width: 800px) {
  .postCard {
    width: 50%;
  }
}
